APP_NAME="AbeloHost Blog"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://abelohost.test
APP_DOMAIN=abelohost.test
PAGINATION_PER_PAGE=6

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=blog
DB_USERNAME=blog
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootpass
